<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-elegante">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Resumen de Almacén</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo-claro ion-padding">

  <div class="contenedor-maximo">
    <!-- Tarjetas de Resumen (KPIs) -->
    <ion-grid class="ion-no-padding">
      <ion-row>
        <!-- Tarjeta Préstamos Activos -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="tarjeta-limpia">
            <ion-card-header>
              <ion-card-subtitle class="texto-secundario">Préstamos Activos</ion-card-subtitle>
              <ion-card-title class="texto-primario">{{ totalActivos }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <!-- Tarjeta Vencidos -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="tarjeta-limpia alerta">
            <ion-card-header>
              <ion-card-subtitle class="texto-secundario">Vencidos</ion-card-subtitle>
              <ion-card-title class="texto-peligro">{{ totalVencidos }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Lista de Movimientos -->
    <div class="seccion-lista">
      <h2 class="subtitulo">Últimos Movimientos</h2>
      
      <ion-list class="lista-transparente">
        <ion-item *ngFor="let prestamo of prestamosActivos" class="item-limpio" lines="none">
          <div class="icono-contenedor" slot="start">
            <ion-icon name="build-outline"></ion-icon>
          </div>
          
          <ion-label>
            <!-- Leemos los datos desde las tablas anidadas que simula Supabase -->
            <h3 class="herramienta-nombre">{{ prestamo.inventario.nombre_herramienta }}</h3>
            <p class="alumno-info">{{ prestamo.alumnos.nombre }} • {{ prestamo.alumnos.carrera }}</p>
            <!-- El pipe de fecha de Angular recorta el formato largo de Supabase -->
            <p class="fecha-info">Salida: {{ prestamo.fecha_salida | date:'dd/MM/yyyy HH:mm' }}</p>
          </ion-label>
          
          <!-- Ajustamos la clase CSS para que empate con la base de datos (Activo vs Vencido) -->
          <ion-badge slot="end" class="etiqueta-estado" 
            [ngClass]="{'estado-vencido': prestamo.estado === 'Vencido', 'estado-ok': prestamo.estado === 'Activo'}">
            {{ prestamo.estado }}
          </ion-badge>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>