<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-elegante">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Resumen de Almacén</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="fondo-claro ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="contenedor-maximo">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <ion-card class="tarjeta-limpia">
            <ion-card-header>
              <ion-card-subtitle class="texto-secundario">Activos</ion-card-subtitle>
              <ion-card-title class="texto-primario">{{ totalActivos }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="tarjeta-limpia alerta">
            <ion-card-header>
              <ion-card-subtitle class="texto-secundario">Vencidos</ion-card-subtitle>
              <ion-card-title class="texto-peligro">{{ totalVencidos }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="seccion-lista">
      <div class="header-lista">
        <h2 class="subtitulo">Últimos Movimientos</h2>
        <ion-badge *ngIf="totalVencidos > 0" color="danger" mode="ios">Atención requerida</ion-badge>
      </div>
      
      <ion-list class="lista-transparente">
        <ion-item *ngFor="let prestamo of prestamosActivos" class="item-limpio" lines="none">
          <div class="icono-contenedor" slot="start" [ngClass]="{'bg-vencido': prestamo.estado === 'Vencido'}">
            <ion-icon name="build-outline"></ion-icon>
          </div>
          
          <ion-label>
            <h3 class="herramienta-nombre">{{ prestamo.herramienta_nombre || 'Herramienta' }}</h3>
            <p class="alumno-info">
              <strong>{{ prestamo.receptor_nombre }}</strong>
              <span> • {{ prestamo.receptor_tipo }}</span>
            </p>
            <p class="fecha-info">
              Entrega: {{ prestamo.fecha_devolucion_pactada?.toDate() | date:'dd/MM/yyyy' }}
            </p>
          </ion-label>
          
          <ion-badge slot="end" class="etiqueta-estado" 
            [ngClass]="{'estado-vencido': prestamo.estado === 'Vencido', 'estado-ok': prestamo.estado === 'Activo'}">
            {{ prestamo.estado }}
          </ion-badge>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="lanzarAlertasManuales()">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>